.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 65px;
  padding-bottom: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 124px;
    padding-bottom: 124px;
    max-width: 1440px;
  }
}

.about-container {
  padding: 0 17px;

  @include media(desktop) {
    padding: 0 186px;
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
    max-width: 626px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;

  @include media(desktop) {
    font-size: 18px;
  }
}

.about-top-text {
  margin-bottom: 30px;

  @include media(desktop) {
  }
}

.about-list-text {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #000;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.about-list-item {
  background: #bae0ff;
  border-radius: 20px;
  padding: 7px 33px;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding: 7px 20px;
  }
}

.about-icon {
  min-width: 23px;

  @include media(desktop) {
    min-width: 36px;
    width: 36px;
    height: 36px;
  }
}

.about-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;

  @include media(desktop) {
    font-size: 18px;
  }
}

.about-bottom-text {
  text-align: center;
  margin-bottom: 30px;

  @include media(desktop) {
    margin-bottom: 70px;
  }
}

.about-btn {
  padding: 9px 40px;

  @include media(desktop) {
    padding: 14px 80px;
  }
}
