.features-faq-bg-wrapper {
  max-width: 375px;
  margin: 0 auto;
  background-image: url(../img/faq/faq-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/faq/faq-bg-desk.png);
  }
}

.faq-section {
  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    max-width: 1440px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 6px;

  @include media(desktop) {
    gap: 16px;
  }
}

.faq-list-item {
  background: rgba(15, 23, 32, 0.8);
  border: 1px solid rgba(124, 58, 237, 0.4);
  border-radius: 14px;
  padding: 23px 31px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 345px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 768px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #f0f9ff;
  text-align: left;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
  }
}

.faq-toggle-symbol {
  background: rgba(124, 58, 237, 0.2);
  border: 1px solid #7c3aed;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #7c3aed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  height: 32px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #cbd5e1;
  max-width: 262px;
  margin-left: auto;
  margin-right: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.625;
    max-width: max-content;
  }
}

.is-visible {
  margin-top: 24px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
}
