<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <h2 class="section-title about-title">Movement Without Force</h2>
        <p class="about-text about-top-text">
          Everything just drifts along these smooth paths.<br />
          There is no steering wheel.<br />
          No direct commands.
        </p>
        <p class="about-list-text">Instead, you observe patterns:</p>
        <ul class="about-list">
          <li class="about-list-item">
            <svg class="about-icon" width="23" height="23">
              <use href="./img/sprite.svg#icon-navigation"></use>
            </svg>
            <p class="about-item-text">Direction</p>
          </li>
          <li class="about-list-item">
            <svg class="about-icon" width="23" height="23">
              <use href="./img/sprite.svg#icon-chart"></use>
            </svg>
            <p class="about-item-text">Natural curve</p>
          </li>
          <li class="about-list-item">
            <svg class="about-icon" width="23" height="23">
              <use href="./img/sprite.svg#icon-speed"></use>
            </svg>
            <p class="about-item-text">Speed</p>
          </li>
          <li class="about-list-item">
            <svg class="about-icon" width="23" height="23">
              <use href="./img/sprite.svg#icon-pulse"></use>
            </svg>
            <p class="about-item-text">Drift rhythm</p>
          </li>
        </ul>
        <p class="about-text about-bottom-text">
          Your role is not to control - it is to guide.
        </p>
        <a href="#gameplay" class="hero-btn about-btn"
          ><span>Understand the Markers</span>
          <svg class="arrow-down-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-down"></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
