<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <h2 class="section-title gameplay-title">Quiet Influence</h2>
        <p class="gameplay-text gameplay-top-text">
          You place trail markers in open space.<br />
          Markers do not stop movement.<br />
          They bend it.
        </p>
        <p class="gameplay-list-text">Placed carefully, they:</p>
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <p class="gameplay-item-text">Adjust trajectory</p>
          </li>
          <li class="gameplay-list-item">
            <p class="gameplay-item-text">Soften angles</p>
          </li>
          <li class="gameplay-list-item">
            <p class="gameplay-item-text">Prevent slow collisions</p>
          </li>
          <li class="gameplay-list-item">
            <p class="gameplay-item-text">Redirect drift toward safe zones</p>
          </li>
        </ul>
        <p class="gameplay-text gameplay-bottom-text">
          Too many markers create turbulence.<br />
          Too few allow chaos.<br />
          Sometimes the best move is doing absolutely nothing - took me forever
          to figure that out.
        </p>
        <a href="#logic" class="hero-btn gameplay-btn"
          ><span>Discover the Motion Logic</span>
          <svg class="arrow-down-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-down"></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
