<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">Where Movement Is Soft</h1>
          <p class="hero-subtitle">So you've got this open field, right?</p>
          <div class="hero-text-container">
            <p class="hero-text">
              Objects appear at the edge of space and begin drifting slowly
              across the horizon.
            </p>
            <p class="hero-text">
              They do not rush.<br />
              They do not collide aggressively.
            </p>
            <p class="hero-text">
              They simply move.<br />
              Your presence is subtle.<br />
              Your influence is minimal.
            </p>
          </div>
          <a href="#about" class="hero-btn"
            ><span>Explore the Drift</span>
            <svg class="arrow-down-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-down"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
