<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">
            Connect in order. Fill the grid. Stay sharp.
          </h1>
          <p class="hero-subtitle">Connect the stars to make constellations.</p>
          <p class="hero-text">
            Anchor Quest - Zip Puzzle is a a number puzzle that's pretty
            satisfying once you get the hang of it. Your mission is simple:
            connect numbers in the correct sequence and fill every square of the
            grid. Miss a block or overlap a path, and the puzzle breaks. The
            rules are pretty simple, but man, once you get into the harder
            levels, you really gotta think about every move.
          </p>
          <ul class="hero-list">
            <li class="hero-list-item">
              <p class="hero-item-title">Version</p>
              <p class="hero-item-text">1.0.0</p>
            </li>
            <li class="hero-list-item">
              <p class="hero-item-title">Updated</p>
              <p class="hero-item-text">Feb 5, 2026</p>
            </li>
            <li class="hero-list-item">
              <p class="hero-item-title">Android</p>
              <p class="hero-item-text">7.0+</p>
            </li>
            <li class="hero-list-item">
              <p class="hero-item-title">Downloads</p>
              <p class="hero-item-text">10+</p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="441"
            height="694"
          />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="203"
            height="320"
          />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="203"
            height="320"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
