<section class="section logic-section" id="logic">
  <div class="logic-bg-wrapper">
    <div class="container logic-container">
      <div class="logic-content-wrapper">
        <div class="logic-text-wrapper">
          <h2 class="section-title logic-title">Gentle Redirection</h2>
          <p class="logic-text logic-top-text">
            Each marker creates a subtle field of influence.<br />
            Objects passing nearby respond gradually.<br />
            There are no sharp pivots.
          </p>
          <p class="logic-list-text">The system evaluates:</p>
          <ul class="logic-list">
            <li class="logic-list-item">
              <p class="logic-item-text">Distance from marker</p>
            </li>
            <li class="logic-list-item">
              <p class="logic-item-text">Angle of approach</p>
            </li>
            <li class="logic-list-item">
              <p class="logic-item-text">Current drift velocity</p>
            </li>
          </ul>
          <p class="logic-text logic-bottom-text">
            Paths emerge slowly.<br />
            When you nail it, everything just... flows. Like, you can actually
            see it working the way you pictured it would.
          </p>
          <a href="#features" class="hero-btn logic-btn"
            ><span>Understand the Markers</span>
            <svg class="arrow-down-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-down"></use></svg
          ></a>
        </div>
        <picture>
          <source
            srcset="./img/logic/logic-img-desk.png"
            media="(min-width: 1440px)"
            width="617"
            height="345" />
          <source
            srcset="./img/logic/logic-img-mob.png"
            width="323"
            height="181" />
          <img
            class="logic-img"
            src="./img/logic/logic-img-mob.png"
            alt="Screenshot of the game"
            width="323"
            height="181"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
