<div class="context-menu">
  <div class="container context-container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">Horizon</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#about">The Drift</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gameplay">Markers</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#logic"
            >Motion Logic</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#features"
            >Evolving Space</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact"
            >Reflections</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
